*.exe
*.asv
*ignorethis*
*.tmp
*.pyc
*.log
*~$.*
*~
.idea/
borrar/
bu/
codegen/
bufferSolution/
bufferSolution_LINUX/
log/
docs/*
!docs/*.tex
!docs/*.cfg
!docs/*.mk4
#!docs/*.html
#!docs/*.png
#!docs/*.css